

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓ ';
  }

/* classes */


.card-plan {
    display: inline-block;
    border: solid 1px black;
    width: 350px;
    margin: 10px;
    padding-top: 0;
}

.title-card {
    background-color: lightblue;
    color: white;
    text-align: 1rem;
    margin: 0;
    padding: 10px;
}

.card-body {
    padding: 0 15px 0 15px;
}

.plan-type {
    font-size: 1.5rem;
}

.gigabytes {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.red-bar {
    height: 20px;
    border: solid 1px black;
    background-color: red;
}

.card-space-text {
    font-size: 1.2rem;
}

.button-plan-active {
    border: solid 1px black;
    text-align: center;
    width: 250px;
    margin: auto;
    padding: 15px;
    background-color: grey;
    color: white;
}

.button-plan {
    border: solid 1px black;
    text-align: center;
    width: 250px;
    margin: auto;
    padding: 15px;
    background-color: dodgerblue;
    color: white;
}

.button-plan:hover {
    background-color: lightcoral;
}


.card-text {
    text-align: center;
}
