body {
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 40px;
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓ ';
}

/* classes */

/* for cellphones */

@media screen and (min-width: 600px) {

    .container {
        grid-template-columns: 1fr 1fr;
    }

}

/* for desktops */

@media screen and (min-width: 768px) {


    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.card-plan {
    display: inline-block;
    border: solid 1px black;
    margin: 10px;
    padding-top: 0;
}

.title-card {
    background-color: aqua;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 10px;
}

.card-body {
    padding: 0 15px 0 15px;
}

.plan-type {
    font-size: 1.5rem;
}

.gigabytes {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.red-bar {
    height: 20px;
    border: solid 1px black;
    background-color: red;
}

.card-space-text {
    font-size: 1.2rem;
}

.button-plan-active {
    border: solid 1px black;
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 15px;
    background-color: grey;
    color: white;
}

.button-plan {
    border: solid 1px black;
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 15px;
    background-color: dodgerblue;
    color: white;
}

.button-plan:hover {
    background-color: lightcoral;
}


.card-text {
    text-align: center;
}